@using Finbuckle.MultiTenant
@using SaasStart.Logic.Entities
@{
    ViewData["Title"] = "Privacy Policy";
    var policyFound = Context.GetMultiTenantContext<SaasTenantInfo>().TenantInfo.TenantContent.TryGetValue("privacyPolicy", out var policyContents);
}
<h1>@ViewData["Title"]</h1>

@if(policyFound){
    <p>@policyContents</p>
}
else
{
    <p>Use this page to detail your site's privacy policy.</p>
}
